h1{color: rgb(252, 252, 252);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

body{background-image:url(https://i.pinimg.com/736x/3e/e6/5e/3ee65ea27521621d7085d13e358e8c2e.jpg) ;
background-size:cover;
background-repeat: no-repeat;
}


p{color: rgb(255, 255, 255);

}

.bodomi_moda_fuente{
  font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
  font-weight:500px;
  font-style: normal;
}

.card{
    background-color: rgb(255, 176, 176);
    width: 400px;
    margin: 10px;
    padding: 20px;
}

.card_foto{
    max-width:100%;
    
}

 .gogo_aasaa{color: rgb(255, 255, 255);


 }

.cajaa_perfume{
    background-color: rgb(255,176,176);
    width: 400px;
    max-width: 100%;
    margin:10px;
    padding: 20px;
}


.caja_imag{

    max-width: 100%;
}

.sunsol{
    background-color:rgb(255,176,176);
    width:400px;
    max-width:100%;
    margin: 10px;
    text-align: left;
    color: rgb(0, 3, 1);
    padding: 20px;
}
    

    
h2{
 color: white;
}


.soll{
    max-width:100% ;

}

.sirdior{

    background-color: rgb(255, 176, 176);
    width: 400px;
    margin:10px;
    padding: 20px;
}

.imggcris{
    max-width: 100%;
}

.qona{background-color: rgb(255, 176, 176);
    width:400px;
    margin: 10px;
    padding: 20px;

}

.bb{

    max-width: 100%;
}

.bambi{
    background-color: rgb(255, 176, 176);
    width: 400px;
    margin: 10px;
    padding:20px;

}

.imaginn{

    max-width: 100%;
}

.fftir{
    background-color: rgb(255, 176, 176);
    width: 400px;
    margin: 10px;
    padding: 20px;
}

.coracora{

    max-width: 100%;
}


footer{
    background-color: brown;
}


.lala_tutu{
    color: black;
}

.contenedor_padre{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1000px;
    margin: 0 auto;
}
